<h2>Home Page</h2>
<h1>Upload Image to Multer</h1>
<form
    action="http://localhost:4000/upload/upload-to-server"
    method="post"
    enctype="multipart/form-data"
>
    <input type="file" name="image" />
    <input type="submit" value="Upload File" />
</form>
<script src="../js/app.js"></script>
